@import 'colors';

// Reassign color vars to semantic color scheme
$theme-colors: (
    primary: $blue,
    secondary: $black,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: $gray-900
  )
  !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// $container-max-widths: (sm: 540px, md: 640px, lg: 740px, xl: 840px) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $black !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $white !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//
@import 'fonts';


@import 'node_modules/bootstrap/scss/bootstrap.scss';
